django>=6.0.4
djangorestframework
djangorestframework-simplejwt
django-cors-headers
drf-yasg
gunicorn
whitenoise
psycopg2-binary
dj-database-url
python-decouple
cloudinary
web3
eth-account
pillow
qrcode
reportlab

